* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: red;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  overflow-y: auto;
  font-family: 'Jersey 25', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  font-family: 'Protest Guerrilla', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.logo img{
  max-width: 100px;
  max-height: 100px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: #1290ce;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ff6347;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  color: white;
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#home {
  background: url('./assets/background2.jpg') no-repeat center center/cover;
}

#about {
  background: url('./assets/batman.jpg') no-repeat center center/cover;
}

#projects {
  background: url('./assets/LoginImg.jpg') no-repeat center center/cover;
}

#contact {
  background: url('./assets/anime-landscape-street-buildings-trees.jpeg')
    no-repeat center center/cover;
}

#name {
  font-family: 'Honk', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 15, 'SHLN' 50;
}

.content h1 {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 600;
}

#projects{
  align-items: first baseline;
  padding-top: 100px;
}
.content p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 30px auto;
  line-height: 1.8;
}

.projects-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.projects-list li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4500;
}
.projects-container {
  display: flex;
  height: 50vh;
  position: absolute;
  left: 0;
  width: 80%;
}

.project-list {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  backdrop-filter: blur(10px); 
}

.project-list ul {
  list-style-type: none;
  width: 70%;
  padding: 0;
}

.project-list ul li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-list ul li:hover,
.project-list ul li.active {
  background-color: rgba(
    22,
    145,
    207,
    0.8
  );
}

.project-details {
  width: 100%;
  padding: 30px;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); 
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(5px); 
}

.project-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-details p {
  font-size: 1.2rem;
}
.social-icons {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  color: #fff;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon--facebook {
  background: #3b5a9b;
  color: #fff;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  color: currentColor;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #ef5a92;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}
.social-icon--dribbble {
  background: #ef5a92;
  color: #fff;
}
.social-icon--dribbble .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
/* Media Queries */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    z-index: 99;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .content h1 {
    font-size: 3rem;
  }

  .content p {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 20px;
  }

  .navbar ul.show {
    display: flex; /
  }

  .menu-icon {
    display: block; 
  }
  .projects-container {
    justify-content: center;
    width: 100vw;
  }
  .project-list ul li {
    padding-left: 0;
    padding-right: 0;
  }
}
